.main-title{
	margin:25px 0;
	font-size: 22px;
	vertical-align:middle;
}
.first-widget-box{
	margin:25px 0;
}
.widget-box{
	margin:25px 0;
	padding-top: 25px;
	border-top: 1px solid #eee;
}
.first-widget-box>a{
	display: block;
	padding: 4px 0;
	font-size: 18px;
	color: #666;
	
}
.first-widget-box>a:hover{
	background-color: #eee;
	text-decoration:none;
}
/* 自定义a标签：默认颜色#333，hover颜色white */
.custom-a-white{
	color:#333;
}
.custom-a-white:hover{
	color:white;
	text-decoration:none;
}
/* 自定义a标签：默认颜色#333，hover颜色棕色#008E59 */
.custom-a-brown{
	color:#333;
}
.custom-a-brown:hover{
	color:#008E59;
}
/* 自定义a标签：hover时decoration为none */
.custom-a-none:hover,:visited,:active{
	text-decoration:none;
}
.tag-label{
	border-radius:5px;
	margin: 0 5px 5px 0;
	padding: 3px;
	background-color: #eee;
}
.tag-label:hover{
	color:white;
	background-color: #8C8989;
	/* background-color: #017e66; */
}
.tag-message{
	margin:5px 0;
}
.rank{
	float: left;
	margin-right: 5px;
	font-size: 16px;
	text-align: center;
	line-height: 1.2;
	color: #666;
}
.votesNum, .answersNum, .viewNum{
	display: inline-block;
	width: 40px;
	height: 40px;
	/* background-color: #eee; */
}
.rank-block{
	display: block;
}
.question-list-item{
	height:100%;
	padding: 12px 0;
	border-bottom: 1px solid #eee;
	line-height: 100%;
}
.author{

}
.title{
	display: inline;
}
.summary{
	padding-left: 145px;
}
.summary .tag{
	margin: 0px;
	display: inline-block;
}
.header{
	padding:15px 0;
	background-color: #f3f3f3;
}
.pt-10{
	padding-top: 10px;
}
.pt-30{
	padding-top: 30px;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.question-date{
	color: #428BCA;
}
.li-block>li{
	display: block;
}
.q-solved{
	background-color: #229B6F;
	color:#fff;
}
.console-button{
	float:left;
	width: 40px;
	height: 100%;
	background-color: #eee;
	position: relative;
	margin-right:15px;
}
/*.answer-content{
	background-color: #eee;
	position: relative;
	left: 55px;
	margin-right: 55px;

}*/
.vote-btn{
	height: 20px;
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
}
.vote-count{
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: large;
}
.vote-btn-up{
	background: url("/img/up.png") no-repeat center;
}
.vote-btn-down{
	background: url("/img/down.png") no-repeat center;
}
.vote-btn-up:hover{
	background: url("/img/up-hover.png") no-repeat center;
}
.vote-btn-down:hover{
	background: url("/img/down-hover.png") no-repeat center;
}
.question{
	margin: 25px 0;
}
.answer{
	margin: 25px 0;
	
	/* border-bottom: 1px solid green; */
}
.answers-Num{
	font-size: large;
	border-bottom: 2px solid green;
}
.line{
	margin-top:20px;
	border-bottom: 1px solid green;
}
.comment{
	position: relative;
	left: 55px;
	margin-right: 55px;
	padding: 10px;
	background-color: #eee;
	word-wrap:break-word;
}
.comment-line{
	margin: 10px 0;
	border-bottom: 1px dashed #999;
}
.reply{
	color: #53A184;
}
.reply:hover{
	color: #5D6C66;
	cursor: pointer;
}
.userName{
	color: #008E59;
	font-weight: bolder;
}
.comment-input{
	width:100%;
}
.userHeadImg{
	width:100%;
	height:132px;
}
.userHeadImg>img{
	background: no-repeat center;
}
.cus-btn{
	width: 90px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top:5px;
	cursor:pointer;
}
.cus-btn:hover{
	background-color: #eee;
}
.cus-btn:active{
	background-color: #008E59;
}
.tabActive > a,
.tabActive > a:hover,
.tabActive > a:focus {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
}