<div class="console-button">
	<div class="vote-btn vote-btn-up" ng-click="addVote(answer)"></div>
	<div class="vote-count" ng-bind="answer.votes"></div>
	<div class="vote-btn vote-btn-down" ng-click="subVote(answer)"></div>
</div>
<div class="ahthor">
	<a class="custom-a-none" href="">{{answer.author}}</a>
	<span>&nbsp;&nbsp;{{answer.date}}&nbsp;&nbsp;</span>回答
</div>
<div class="content">
	<p>{{answer.content}}</p>
</div>
<div class="comment" ng-controller="CommentsController">
	<a href="javascript:void(0)" ng-click="checkComment()">0评论</a>
	<div ng-show="showComments">
		123
	</div>
</div>
<div class="line"></div>