<div class="wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="main-title">
					今天您遇到了什么问题呢？
					<a href="#" class="btn btn-primary">我要提问</a>
				</div>
				<ul class="nav nav-tabs">
				  	<li class="active"><a href="#new" data-toggle="tab">最新的</a></li>
				  	<li><a href="#hot" data-toggle="tab">热门的</a></li>
				 	<li><a href="#unanswered" data-toggle="tab">未回答的</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="new" ng-controller="QuestionsController">
						<div class="question-list-item" ng-repeat="question in questions">
							<!-- <div question-item question= {{question}}></div> -->
							<question-item></question-item>
						</div>
					</div>
					<div class="tab-pane" id="hot">热门的内容</div>
					<div class="tab-pane" id="unanswered">222</div>
				</div>
			</div>
			<div class="col-md-3">
				<div ng-controller="UserInfoController">
					<div class="first-widget-box">
						<a href="">我的收藏</a>
						<a href="">我的关注</a>
						<a href="">我得提问</a>
						<a href="">我得文章</a>
					</div>
					<div class="widget-box">
						<h4>
							关注标签：
						</h4>
						<ul class="list-inline">
							<li class="tag-label" ng-repeat="tag in userInfo.focusTags"><a href="" class="custom-a-white custom-a-none">{{tag.label}}</a></li>
						</ul>
					</div>
				</div>
				<div  ng-controller="HotInfoController">
					<div class="widget-box">
						<h4>
							热议标签
							<a href="" style="text-decoration:none">》</a>
						</h4>
						<ul class="list-inline">
							<li class="tag-label" ng-repeat="tag in hotInfo.tags"><a href="" class="custom-a-white custom-a-none">{{tag.label}}</a></li>
						</ul>
					</div>
					<div class="widget-box">
						<h4>
							最近热议话题
						</h4>
						<ul class="list-inline li-block">
							<li class="tag-message" ng-repeat="question in hotInfo.questions"><a href="#/community/question/{{question.id}}">{{question.title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>