<div class="rank">
	<div class="votesNum"><span class="badge">{{question.votes}}</span><span class="rank-block">投票</span></div>
	<div ng-class="{'answersNum': true,'q-solved':{{question.solved}}}"><span class="badge">{{question.answers}}</span><span class="rank-block">{{question.status}}</span></div>
	<div class="viewNum"><span class="badge">{{question.view}}</span><span class="rank-block">浏览</span></div>
</div>
<div class="summary">
	<div class="author">
		<span>{{question.date}}</span>来自
		<a class="custom-a-none" href="">{{question.author}}</a>
	</div>
	<h3 class="title">
		<a class="custom-a-brown" href="#/community/question/{{question.id}}">{{question.title}}</a>
	</h3>
	<ul class="list-inline tag">
		<li ng-repeat="tag in question.tags"><a href="" class="custom-a-none"><span class="label label-info">{{tag.label}}</span></a></li>
	</ul>
</div>