<div class="warp" ng-controller="UserInfoController">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="userHeadImg">
						<img ng-src="{{userInfo.headImg}}"></img>
					</div>
				</div>
				<div class="col-md-7">
					<h3>{{userInfo.username}}</h3>
					<h4>部门：{{userInfo.department}}</h4>
				</div>
				<div class="col-md-3 pt-30">
					<button class="btn btn-primary">+加关注</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9" ng-controller="UserQuestionsController">
				<div class="btn-group cus-tab-title">
				 	<button class="btn btn-success" type="button" ng-click="tab=1">提问</button>
				 	<button class="btn btn-success" type="button" ng-click="tab=2">收藏</button>
				 	<!-- <button class="btn btn-success" type="button" ng-click="tab=3">关注</button> -->
				</div>
				<hr>
				<div ng-show="tab==1">
					<div class="question-list-item" ng-repeat="question in questions">
						<question-item></question-item>
					</div>
				</div>
				<div ng-show="tab==2">
					111
				</div>
				<div ng-show="tab==3">
					222
				</div>
			</div>
			<div class="col-md-3" ng-controller="RelationshipController">
				<h3>Ta的关系</h3>
				<hr>
				<div>
					<p>关注:<span class="person-num">{{focuses.length}}</span>人</p>
					<ul class="list-inline">
						<li class="mb-10" ng-repeat="focus in focuses">
							<a href="#/community/userInfo/{{focus.username}}">
								<img ng-src="{{focus.smallHeadImg}}"></img>
								<p class="headImg-name userName">{{focus.username}}</p>	
							</a>
						</li>
					</ul>
				</div>
				<div>
					<p>粉丝:<span class="person-num">{{fans.length}}</span>人</p>
					<ul class="list-inline">
						<li class="mb-10" ng-repeat="fan in fans">
							<a href="#/community/userInfo/{{fan.username}}">
								<img ng-src="{{fan.smallHeadImg}}"></img>
							</a>
							<p class="headImg-name userName">{{fan.username}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>